html {
	background: linear-gradient(to bottom right, #e6f1fe 0%, #8ab9c3 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

header {
	display: inline;
	width: 100%;
}

header * {
	margin: 10px 30px;
	background-color: white;
}

h1 {
	font-size: 48px;
}

h2 {
	font-weight: normal;
}

#pageTitle {
	display: inline-block;
}

.logo {
	margin-bottom: 0px;
}

.logoText {
	margin-top: 0px;
}

.navBar * {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin: 0;
}

.navBar {
	display: inline-block;
	position: absolute;
	top: 80px;
	right: 0;
}

.navBar a {
	text-decoration: none;
	color: black;
	display: inline;
	font-size: 20px;
}